# Environment
.env
*.env

# PHP Composer
/vendor/

# PHP Sensitive
/config/db.php


# Install lock
/install/install.lock

# Uploads
/uploads/*
!/uploads/.gitkeep

# Visual Studio / C#
.vs/
bin/
obj/
*.user
*.suo
